html, body {
	font-size: 80%;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
body {
	padding-top: 45px;
}
.breadcrumb {
	position: fixed !important;
	width:100%;
	z-index:100;
}
@media (min-width: 979px) {
	.menu-left.affix-top {
		position: static;
		margin-top:45px;
		width:100%;
	}

	.menu-left.affix {
		position: fixed !important;
		top:90px;
		width: 16.6667%;
		padding-right: 30px;
	}
}

.affix,.affix-top {
	position:static !important;
}
.affix-top {
	margin-top:40px;
}
.right-container {
	margin-top:40px;
}
.hidden-obj {
	display: none !important;
}

.field-error {
    border-color: #A94442 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
}

.field-error:focus {
	border-color: #843534 !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #CE8483 !important;
}

.form-error {
	display:block;
	font-size:0.8em;
	color:red;
	margin-top:2px;
}

.ui-widget-overlay {
	background: none !important;
	background-color: #A8A8A8 !important;
	opacity: 0.7 !important;
	filter:alpha(opacity=70) !important;
}

.ui-dialog.ui-widget-content {
	background: none !important;
	background-color: #FFF !important;
}

.dialog-wrapper {
	font-size:0.8em;
	max-height:450px !important;
	overflow: auto;
}

.ui-dialog {
	padding: 0 !important;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5) !important;
	z-index: 1032 !important;
}

.ui-widget-overlay {
	z-index: 1031 !important;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
	border-radius: 0 !important;
	border: none !important;
	border-bottom:1px solid #E5E5E5 !important;
	background: none !important;
	background-color:#FFF !important;
	padding: 1em !important;
}

.ui-dialog-titlebar-close.ui-state-hover {
	background: none !important;
	border: none !important;
}

.ui-draggable .ui-dialog-titlebar {
	cursor: default !important;
}

.ui-dialog-titlebar-close.ui-corner-all {
	padding: 0 !important;
}

.red-asterisk {
	color: red;
	font-size: 1.2em;
	margin-left: 2px;
}

.new, .voting {
	border-bottom: 1px solid #E6E6E6;
}
.new p, .voting p {
	font-size: 12px;
	color: #A8A8A8;
}
.full-width {
	width: 100%;
}
.ui-dialog {
	max-width:90%;
}
h1,h2,h3 {
	margin-top:5px !important;
	margin-bottom:5px !important;
}
.section-header {
	padding-bottom:2px;
	border-bottom: 1px solid #eee;
}

.ui-dialog .input-group input {
	z-index: 1040 !important;
}

.checkbox-wrapper {
	padding:2px;
}

.checkbox-wrapper label {
	position: relative;
	top:-2px;
}

.voting:hover {
	cursor: pointer;
	background-color: #F2F2F2;
}

.valign-middle {
	vertical-align: middle !important;
}

table.table td {
	padding: 2px 4px !important;
}